{% extends 'base.html.twig' %}
{% import 'shared/cards.html.twig' as cards %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <div class="min-h-screen container mx-auto">
        <img class="-z-10 absolute top-36 h-[32rem] opacity-30 object-cover" src="{{ asset('images/character_mashup.png') }}" alt="">

        <div class="z-0 bg-no-repeat bg-[center_top_4rem] bg-contain w-full flex flex-col justify-center text-center p-5 space-y-11">
            {# About Me #}
            <h1 class="text-7xl">Christian Delicaat</h1>
            <h2 class="text-4xl">Software Engineer & Game Developer</h2>

            <div class="flex flex-col w-full mx-auto">
                {# Socials #}
                <div class="flex flex-col md:flex-row-reverse md:justify-between md:px-16">
                    <div class="flex flex-row space-x-6 mx-auto md:mx-0 mb-11 md:mb-0 items-center">
                        <a class="h-4 w-4 hover:text-amber-500" href="javascript:void(0)"><i data-feather="linkedin"></i></a>
                        <a class="h-4 w-4 hover:text-amber-500" href="javascript:void(0)"><i data-feather="github"></i></a>
                        <a class="h-4 w-4 hover:text-amber-500" href="javascript:void(0)"><i data-feather="mail"></i></a>
                    </div>

                    <p class="text-5xl">Featured</p>
                </div>
                <hr class="border-amber-200 mb-4">

                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5 gap-4 w-max mx-auto">
                    {% for i in 1..5 %}
                        {{ cards.placeholder() }}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
