{% extends 'base.html.twig' %}
{% import 'shared/cards.html.twig' as cards %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <div class="min-h-screen">
        <img class="-z-10 absolute top-36 h-[32rem] opacity-30 object-cover" src="{{ asset('images/character_mashup.png') }}" alt="">

        <div class="z-0 bg-no-repeat bg-[center_top_4rem] bg-contain w-full flex flex-col justify-center text-center p-5 space-y-11">
            {# About Me #}
            <h1 class="text-7xl">Christian Delicaat</h1>
            <h2 class="text-4xl">Software Engineer & Game Developer</h2>

            {# Socials #}
            <div class="flex flex-row space-x-6 mx-auto">
                <i data-feather="linkedin"></i>
                <i data-feather="github"></i>
                <i data-feather="mail"></i>
            </div>

            <div class="flex flex-col w-10/12 mx-auto">
                <p class="text-5xl border-b border-amber-200 mb-4">Featured</p>

                <div>
                    {{ cards.open() }}
                    {{ cards.open() }}
                    {{ cards.open() }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
