{% import 'shared/icons.html.twig' as icon %}

<div class="p-14 container mx-auto max-w-screen-xl md:px-28 transition-all duration-200">
    <h2 class="font-rajdhani uppercase font-bold text-6xl tracking-tighter hidden lg:block">About me</h2>
    <hr class="w-20 bg-primary-text h-1.5 my-6 hidden lg:block">
    <div class="mb-10 flex flex-col lg:flex-row-reverse gap-6 gap-x-24">
        <div class="lg:w-1/2 relative">
            <img src="{{ asset('images/ba9f85b3-d63c-4bc8-becd-695d68e7594a.webp') }}" alt=""
                 class="rounded-full max-w-96 w-full transition-all duration-1000 sm:rounded mx-auto">
        </div>
        <div class="lg:w-1/2">
            <h2 class="font-rajdhani uppercase font-bold text-6xl tracking-tighter block lg:hidden">About me</h2>
            <hr class="w-20 bg-primary-text h-1.5 my-6 block lg:hidden">
            <p class="text-xl font-light tracking-tight">
                Hallo! My name is <span class="font-bold">Christian Delicaat</span>, a game programming student based in the
                Netherlands. I am currently in my third year at <a href="https://www.buas.nl/en" target="_blank" class="text-tertiary hover:underline">Breda University of Applied Sciences</a>.
                I have always been passionate about playing and making video games! In my free time, I like to work on game
                mechanics and gameplay tools, or I try to learn something new.
            </p>
            <p class="text-xl font-light tracking-tight mt-4">
                I look forward to contributing my skills and passion to new projects as I am currently looking for an internship
                starting <span class="font-bold">September 2025</span>.
            </p>
            <div class="w-full">
                <div class="mx-auto w-max lg:mx-0">
                    <a href="{{ asset('files/CV_Christian_Delicaat.pdf') }}" download>
                        <div class="uppercase border-2 border-primary-text bg-primary py-3 px-14 mt-12 w-max font-bold text-lg tracking-wide transition-colors ease-linear hover:bg-primary-text hover:text-primary">
                            Download Resume
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
