{% import 'shared/icons.html.twig' as icon %}

<p id="about-me" class="uppercase font-bold text-9xl text-secondary text-center border-b-2 border-secondary">ABOUT ME</p>
<div class="container mx-auto max-w-screen-xl md:px-28 transition-all duration-200">
    <div class="p-14 mb-10 flex flex-col lg:flex-row-reverse gap-6 gap-x-24">
        <div class="lg:w-1/2 relative">
            <img src="{{ asset('images/425312819_932689768890894_8238798993383042237_n.jpg') }}" alt=""
                 class="rounded-full max-w w-full transition-all duration-1000 sm:rounded mx-auto">
        </div>
        <div class="lg:w-1/2">
            <p class="text-xl font-normal">
                Hallo! My name is Christian "Chris" Delicaat, a <span class="text-quaternary">gameplay & tools programming</span> student and <span class="text-quaternary">proceduralism enthusiast</span> based in the
                Netherlands. I am currently in my third year at Breda University of Applied Sciences.
            </p>
            <p class="text-xl font-normal mt-4">
                I look forward to contributing my skills and passion to new projects as I am <span class="text-tertiary">currently looking for an internship</span>
                starting September 2025.
            </p>
            <div class="w-full">
                <div class="mx-auto w-max lg:mx-0">
                    <a href="{{ asset('files/CV_Christian_Delicaat.pdf') }}" download>
                        <div class="uppercase border-2 border-primary-text bg-primary py-3 px-14 mt-12 w-max font-bold text-lg transition-colors ease-linear hover:bg-primary-text hover:text-primary">
                            Download Resume
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<a href="#portfolio">
    <div id="scroll-cta" class="w-max mx-auto hidden mb-24 mt-32 transition-opacity duration-500 opacity-100 lg:flex flex-col justify-center items-center">
        {# https://codepen.io/rightblog/pen/EagNMN #}
        <div>
            <span class="m_scroll_arrows unu"></span>
            <span class="m_scroll_arrows doi"></span>
            <span class="m_scroll_arrows trei"></span>
        </div>
    </div>
</a>
