{% extends 'base.html.twig' %}

{% block title %}Portfolio{% endblock %}

{% block body %}
    <div class="h-full w-full fixed top-0 left-0 -z-40 grid grid-cols-2 md:grid-cols-4 xl:grid-cols-6 grid-rows-1 divide-x divide-secondary">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>

    {% include 'homev2/portfolio.html.twig' %}
{% endblock %}
