{% extends 'base.html.twig' %}

{% block title %}Portfolio{% endblock %}

{% block body %}
    <div class="relative">
        <span id="home" class="absolute -top-16"></span>
    </div>
    {% include 'homev2/hero.html.twig' %}

    <div class="relative">
        <span id="portfolio" class="absolute -top-16"></span>
    </div>
    {% include 'homev2/portfolio.html.twig' %}
{% endblock %}
