@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
    --color-amber-25: oklch(98.7% 0.011 95.277);
    --font-rajdhani: "Rajdhani", sans-serif;
    --shadow-flat: 6px 6px 0 rgba(12,25,22,.22);
}

* {
    box-sizing: border-box;
}

a, svg, img {
    -webkit-user-drag: none;
    user-drag: none;
    user-select: none;
}
