{% extends 'base.html.twig' %}

{% block title %}EPC 2023{% endblock %}

{% block body %}
    <div class="min-h-[calc(100vh-6.5rem)] mx-auto w-full py-16 flex flex-col space-y-4">
        <h1 class="text-3xl font-addison text-center">EPC 2023</h1>
        <img class="max-w-96" src="{{ asset('projects/epc2023/epc.png') }}" alt="">
    </div>
{% endblock %}
