{% extends 'base.html.twig' %}

{% block title %}Snopuck{% endblock %}

{% block body %}
    <div class="min-h-[calc(100vh-6.5rem)] mx-auto w-full py-16 flex flex-col space-y-4">
        <h1 class="text-3xl font-addison text-center">Hex Game Jam</h1>
        <img class="max-w-96" src="{{ asset('projects/snopuck/thumbnail_01_174x174.png') }}" alt="">
    </div>
{% endblock %}
