{% extends 'project/project.html.twig' %}

{% block title %}Procedural Planets{% endblock %}
{% block subtitle %}{% endblock %}

{% block content %}
    {{ _self.paragraph("
        <span class=\"italic\">Procedural Planets</span> is a solo project developed over 8 weeks in <span class=\"text-tertiary\">C++</span>. It explores
        procedural content generation by creating stylized, noise-driven planets rendered on UV spheres. The focus was
        on generating terrain and textures using layered 3D noise and experimenting with procedural cloud techniques.
        </br>
        </br>
        <span class=\"inline-block\">I wrote a more in-depth article <a href=\"https://archbacon.github.io/procedural-planets/\" target=\"blank\" class=\"
        text-tertiary inline-flex\"> here. <i data-lucide=\"external-link\" class=\"w-4 h-4\"></i></a></span>
        </br>
        <span class=\"inline-block\">Or view the code <a href=\"https://github.com/ArchBacon/Archive-Procedural-Planets\" target=\"blank\" class=\"
        text-tertiary inline-flex\"> here. <i data-lucide=\"external-link\" class=\"w-4 h-4\"></i></a></span>
    ") }}

    {{ _self.video(asset('projects/planets/tool_usage.webm'), 'Generation tool being used to configure a planet.', true) }}

    <div class="flex flex-wrap gap-4 my-8 justify-evenly">
        <img class="h-16" src="{{ asset('images/buas.png') }}" alt="Breda University of Applied Sciences Logo">
    </div>
{% endblock %}

