{% extends 'base.html.twig' %}

{% block title %}Procedural Planets{% endblock %}

{% block body %}
    <div class="min-h-[calc(100vh-6.5rem)] mx-auto w-full py-16 flex flex-col space-y-4">
        <h1 class="text-3xl font-addison text-center">Procedural Planets</h1>
        <img src="{{ asset('images/procplanets.png') }}" alt="">
    </div>
{% endblock %}
